<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="Leo Media Player"
        android:icon="@mipmap/ic_launcher"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <activity
            android:name="androidx.appcompat.app.AppCompatActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Material.Light.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.support.customtabs.trusted.DEFAULT_URL"
            android:value="https://leo-media-player.web.app/" />

        <meta-data
            android:name="android.support.customtabs.trusted.SPLASH_IMAGE_SCALE_TYPE"
            android:value="FIT_CENTER" />

        <meta-data
            android:name="android.support.customtabs.trusted.SPLASH_SCREEN_BACKGROUND_COLOR"
            android:resource="@android:color/white" />

    </application>

</manifest>
